.profile-card{

    max-width:1100px;

    margin:120px auto;

    padding:2.5rem;

    border-radius:24px;

    background:rgba(255,255,255,.04);

    backdrop-filter:blur(12px);

    border:1px solid rgba(201,168,76,.25);

}

/* HEADER */

.profile-header{

    display:flex;

    align-items:center;

    gap:2rem;

    margin-bottom:3rem;

}

.profile-avatar{

    width:110px;

    height:110px;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #2d6b2d,
        #C9A84C
    );

    border:3px solid #C9A84C;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:3rem;

    font-weight:700;

    color:white;

}

.profile-info h1{

    margin-bottom:.5rem;

    font-size:2rem;

}

.profile-info p{

    color:#d8d8d8;

    margin-bottom:.5rem;

}

.profile-info span{

    color:#C9A84C;

}

/* STATS */

.profile-stats{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:1.5rem;

    margin-bottom:2rem;

}

.stat-card{

    text-align:center;

    padding:1.5rem;

    border-radius:18px;

    background:rgba(255,255,255,.03);

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-5px);

    box-shadow:
        0 0 18px rgba(201,168,76,.15);

}

.stat-card span{

    font-size:2rem;

}

.stat-card h3{

    margin:.8rem 0;

    font-size:1.8rem;

}

.stat-card p{

    color:#d5d5d5;

}

/* EXTRA */

.profile-extra{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:1.5rem;

}

.extra-card{

    padding:1.5rem;

    border-radius:18px;

    background:rgba(255,255,255,.03);

}

.extra-card h3{

    margin-bottom:1rem;

    color:#C9A84C;

}

/*Avatar*/

.profile-avatar-container{

    position:relative;

    width:110px;

    height:110px;

}

.profile-avatar-image{

    width:100%;

    height:100%;

    object-fit:cover;

    border-radius:50%;

    border:3px solid #C9A84C;

}

/*Boton de editar avatar*/

.edit-avatar-btn{

    position:absolute;

    bottom:0;

    right:0;

    width:32px;

    height:32px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    background:#C9A84C;

}
/*modal para cambiar el avatar*/

.avatar-modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.7);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;
}
.avatar-modal{

    width:600px;

    padding:2rem;

    border-radius:20px;

    background:#121212;
}

/*grid*/
.avatar-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:1rem;

    margin-top:1.5rem;
}

/*avatar seleccionable */
.avatar-option{

    width:120px;

    height:120px;

    border-radius:50%;

    object-fit:cover;

    cursor:pointer;

    transition:.3s;
}
.avatar-option:hover{

    transform:scale(1.08);

    border:3px solid #C9A84C;
}   