.hero{

    min-height: calc(100vh - 80px);

    display: flex;

    align-items: center;

    position: relative;

    overflow: hidden;

}

.hero-container{

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

}
/*contenido*/
.hero-content{

    max-width: 800px;

    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;

    z-index: 2;

}

.hero-logo{

    display: block;

    width: 380px;

    max-width: 100%;

    margin-bottom: 30px;

    animation: float 5s ease-in-out infinite;

    filter: drop-shadow(0 0 18px rgba(201,168,76,.35));

}

.hero h1{ /*titulo*/

    font-size:4rem;

    margin-bottom:1rem;

}

.hero p{ /*texto*/

    font-size:1.2rem;

    color:var(--color-text-secondary);

    line-height:1.7;

    margin-bottom:2.5rem;

}
/*boton*/
.hero-btn{
    position: relative;
    overflow: hidden;

    display:inline-flex;

    align-items:center;

    gap:10px;

    padding:16px 36px;

    border:none;

    border-radius:50px;

    background:linear-gradient(
        135deg,
        #2d6b2d,
        #3d8a3d
    );

    color:white;

    font-size:1.1rem;

    font-weight:700;

    cursor:pointer;

    transition:.35s;

    box-shadow:
        0 0 18px rgba(45,107,45,.35);

}
.hero-btn::before{

    content:"";

    position:absolute;

    top:0;

    left:-120%;

    width:80%;

    height:100%;

    background:linear-gradient(

        90deg,

        transparent,

        rgba(255,255,255,.35),

        transparent

    );

    transform:skewX(-25deg);

}

.hero-btn:hover::before{

    left:150%;

    transition:1s;

}

.hero-btn:hover{

    transform:translateY(-4px) scale(1.03);

    box-shadow:

        0 0 25px rgba(124,179,66,.6),

        0 0 50px rgba(124,179,66,.35);

}
.hero-btn:active{

    transform:scale(.97);

}
.hero-btn{

    animation:buttonPulse 4s ease-in-out infinite;

}

@keyframes buttonPulse{

    0%{

        box-shadow:
        0 0 18px rgba(45,107,45,.35);

    }

    50%{

        box-shadow:
        0 0 28px rgba(124,179,66,.7);

    }

    100%{

        box-shadow:
        0 0 18px rgba(45,107,45,.35);

    }

}

/*sol*/
.hero::before{

    content:"";

    position:absolute;

    width:450px;

    height:450px;

    right:10%;

    top:13%;

    transform:translateY(-50%);

    border-radius:50%;

    background:radial-gradient(
        rgba(201,168,76,.22),
        transparent 70%
    );

    filter:blur(60px);

}

/*Animacion del logo */

@keyframes float{

    0%{

        transform: translateY(0px) rotate(-2deg);

    }

    25%{

        transform: translateY(-8px) rotate(-1deg);

    }

    50%{

        transform: translateY(-14px) rotate(0deg);

    }

    75%{

        transform: translateY(-8px) rotate(1deg);

    }

    100%{

        transform: translateY(0px) rotate(-2deg);

    }

}