/*
elementos del dom en general
*/
body{

    font-family:'Poppins',sans-serif;

    background:
        repeating-linear-gradient(
            90deg,
            #0d1f0d,
            #0d1f0d 90px,
            #102510 90px,
            #102510 180px
        );

    color: var(--color-white);


}


/*fondo (cancha)*/
body{

    background-color: var(--color-background);

    background-image:

        linear-gradient(
            rgba(255,255,255,.03) 1px,
            transparent 1px
        ),

        linear-gradient(
            90deg,
            rgba(255,255,255,.03) 1px,
            transparent 1px
        );

    background-size:120px 120px;

}