.container{

    width:min(1200px,90%);

    margin:auto;

}

.flex{

    display:flex;

}

.flex-center{

    display:flex;

    justify-content:center;

    align-items:center;

}

.btn{

    cursor:pointer;

    border:none;

}